version: '3.8'

services:
  route-listener:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ipv6-route-listener
    network_mode: host  # Required to access host network interfaces directly
    cap_add:
      - NET_ADMIN  # Required to modify IPv6 routes using 'ip route' commands
      - NET_RAW    # Required for raw socket access to capture ICMPv6 packets
    volumes:
      - .:/app     # Mount source code for development and hot-reloading
    environment:
      - PYTHONUNBUFFERED=1  # Ensure Python output is not buffered for real-time logs
    command: /bin/sh bin/start.sh -i ovs_eth0 # -i $INTERFACE $DEBUG $VERBOSE
