name: Verify

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        
    - name: Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        
    - name: Configure Poetry
      run: |
        poetry config virtualenvs.create true
        poetry config virtualenvs.in-project true
        
    - name: Install dependencies
      run: |
        poetry install
        
    - name: Run formatters (check)
      run: |
        poetry run ruff format --check route_listener tests
        poetry run ruff check --select I route_listener tests
        
    - name: Run type checking
      run: |
        poetry run mypy route_listener tests
        
    - name: Run tests
      run: |
        poetry run pytest --log-level=WARNING
        
    - name: Run linting
      run: |
        poetry run ruff check route_listener tests 